---
const year = new Date().getFullYear();

const hallowLinks = [
  { href: 'https://hallow.com/about/', label: 'About' },
  { href: 'https://hallow.com/press/', label: 'Press' },
  { href: 'https://help.hallow.com', label: 'Help Center' },
  { href: 'https://hallow.com/daily-quote/', label: 'Daily Quote' },
  { href: 'https://jobs.gem.com/hallow', label: 'Jobs', external: true },
  { href: 'https://hallowapp.myshopify.com/', label: 'Merch' },
];
---

<footer class="bg-white border-t border-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <!-- ── Main footer content ────────────────────────────────────── -->
    <div class="py-10 flex flex-col md:flex-row gap-10 justify-between">

      <!-- Left: Brand + Hallow links + social -->
      <div class="flex flex-col gap-6">
        <!-- Hallow wordmark SVG -->
        <a href="https://hallow.com" target="_blank" rel="noopener" class="block text-gray-900 hover:text-hallow-purple transition-colors w-fit">
          <svg viewBox="0 0 102 24" xmlns="http://www.w3.org/2000/svg" height="20" fill="currentColor" aria-label="Hallow">
            <g>
              <path d="M96.3933 6.22949L93.6392 16.7213H93.4753L90.7868 6.22949H86.0655L83.4753 16.7213H83.3114L80.5573 6.22949H75.377L80.3606 23.6065H85.7376L88.3933 13.082H88.5573L91.213 23.6065H96.5901L101.574 6.22949H96.3933Z"/>
              <path d="M14.2295 9.67215H5.34426V0.655762H0V23.6066H5.34426V14.3279H14.2295V23.6066H19.4754V0.655762H14.2295V9.67215Z"/>
              <path d="M66.0329 5.77051C60.9181 5.77051 56.8525 9.83608 56.8525 14.8525C56.8525 19.8689 60.9181 24 66.0329 24C71.1476 24 75.1804 19.9344 75.1804 14.8525C75.1804 9.77051 71.0165 5.77051 66.0329 5.77051Z"/>
              <path d="M54.0984 18.7869V0H49.082V19.2787C49.082 22.2295 50.6886 23.9016 53.6394 23.9016C54.3279 23.9016 55.0165 23.8033 55.6394 23.6066V19.8361H55.246C54.4919 19.8361 54.0984 19.4426 54.0984 18.7869Z"/>
              <path d="M37.5084 18.7213V12.8525C37.5084 8.49182 34.656 5.77051 30.3281 5.77051C25.7051 5.77051 22.492 8.32788 22.2953 11.7377H27.6068C27.7707 10.6558 28.6232 9.90166 29.9674 9.90166C31.3117 9.90166 32.2297 10.8525 32.2297 12.2623V13.0164C31.574 12.9508 30.8855 12.8525 30.2297 12.8525C24.8527 12.8525 21.9019 15.5082 21.9019 18.9836C21.9019 22 24.0986 24 27.3117 24C29.574 24 31.6068 23.0492 32.6232 21.2459H32.7871C33.115 22.9836 34.5576 23.9017 37.115 23.9017C37.8035 23.9017 38.4592 23.8033 39.115 23.6066V19.8361H38.6232C37.8691 19.8361 37.5084 19.4754 37.5084 18.7213ZM32.2297 16.2623C32.2297 18.3279 30.8855 19.7377 29.115 19.7377C28.1314 19.7377 27.5084 19.082 27.5084 18.2295C27.5084 17.0164 28.5248 16.1639 30.3937 16.1639H32.2297V16.2623Z"/>
              <path d="M45.8035 18.7869V0H40.7871V19.4754C40.7871 22.4262 42.3937 23.9016 45.3445 23.9016C46.033 23.9016 46.7215 23.8033 47.3445 23.6066V19.8361H46.951C46.1969 19.8361 45.8035 19.4426 45.8035 18.7869Z"/>
            </g>
          </svg>
        </a>

        <!-- Hallow.com nav links -->
        <nav>
          <ul class="flex flex-wrap gap-x-5 gap-y-2">
            {hallowLinks.map(link => (
              <li>
                <a
                  href={link.href}
                  target="_blank"
                  rel="noopener"
                  class="text-[13px] text-gray-400 hover:text-gray-700 transition-colors"
                >
                  {link.label}
                </a>
              </li>
            ))}
          </ul>
        </nav>

        <!-- Social icons -->
        <div class="flex items-center gap-4">
          <!-- Facebook -->
          <a href="https://facebook.com/hallowapp" target="_blank" rel="noopener" class="text-gray-400 hover:text-gray-700 transition-colors" aria-label="Facebook">
            <svg width="10" height="20" viewBox="0 0 9 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.985 20V9.999h2.662L9 6.552H5.985l.004-1.725c0-.899.082-1.38 1.328-1.38H8.98V0H6.318C3.12 0 1.994 1.672 1.994 4.484v2.069H0v3.446h1.994V20h3.99z" fill-rule="evenodd"/>
            </svg>
          </a>
          <!-- X / Twitter -->
          <a href="https://x.com/HallowApp" target="_blank" rel="noopener" class="text-gray-400 hover:text-gray-700 transition-colors" aria-label="X">
            <svg width="18" height="18" viewBox="0 0 20 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.903 8.655L19.348 0h-1.764l-6.465 7.515L5.955 0H0l7.808 11.364L0 20.439h1.764l6.828-7.935 5.452 7.935H20L11.902 8.655zm-2.417 2.809l-.791-1.132L2.4 1.328h2.71l5.08 7.267.791 1.131 6.604 9.446h-2.71l-5.389-7.708z"/>
            </svg>
          </a>
          <!-- Instagram -->
          <a href="https://instagram.com/hallowapp" target="_blank" rel="noopener" class="text-gray-400 hover:text-gray-700 transition-colors" aria-label="Instagram">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.881z"/>
            </svg>
          </a>
        </div>

        <!-- App store badges -->
        <div class="flex flex-wrap gap-3 items-center">
          <a href="https://itunes.apple.com/app/id1405323394" target="_blank" rel="noopener" aria-label="Download on the App Store">
            <svg xmlns="http://www.w3.org/2000/svg" width="130" height="38" viewBox="0 0 153 44" fill="none">
              <path d="M131.036 1H21.946C10.377 1 1 10.378 1 21.945c0 11.568 9.378 20.946 20.945 20.946h109.091c11.568 0 20.946-9.378 20.946-20.945C151.982 10.377 142.604 1 131.036 1z" stroke="#6D0EC1" stroke-width="1.745"/>
              <path d="M55.205 17.58c2.243 0 3.08-1.448 3.08-3.071 0-1.624-.785-3.072-3.08-3.072h-2.086v6.144h2.086zm.2-.767h-1.378v-4.608h1.379c1.309 0 1.972 1.134 1.972 2.303 0 1.17-.663 2.305-1.972 2.305zm5.619.837c1.282 0 2.164-1.003 2.164-2.234 0-1.23-.882-2.234-2.164-2.234-1.37 0-2.165 1.004-2.165 2.234s.855 2.234 2.165 2.234zm0-.768c-.768 0-1.327-.654-1.327-1.466 0-.812.559-1.466 1.327-1.466.768 0 1.326.655 1.326 1.466 0 .812-.558 1.466-1.326 1.466zm4.623.698l.977-3.124.977 3.125h.838l1.466-4.33h-.907l-.978 3.16-.995-3.16h-.803l-.994 3.16-.978-3.16h-.907l1.466 4.33h.838zm5.67 0v-2.216c0-.952.698-1.414 1.274-1.414.515 0 .96.28.96 1.187v2.444h.838v-2.514c0-1.309-.576-1.885-1.606-1.885-.82 0-1.31.55-1.466.785v-.715h-.838v4.329h.838zm4.832 0v-6.283h-.838v6.284h.838zm2.878.07c1.283 0 2.164-1.003 2.164-2.234 0-1.23-.881-2.234-2.164-2.234-1.37 0-2.165 1.004-2.165 2.234s.856 2.234 2.165 2.234zm0-.768c-.768 0-1.327-.654-1.327-1.466 0-.812.559-1.466 1.327-1.466.768 0 1.326.655 1.326 1.466 0 .812-.558 1.466-1.326 1.466zm6.682.768a.86.86 0 00.384-.087v-.628c-.174.052-.419.017-.419-.384v-1.38c0-1.57-.864-1.989-1.832-1.989-.978 0-1.71.506-1.938 1.326l.786.21c.078-.332.366-.803 1.082-.803.881 0 1.064.524 1.064 1.082-1.71-.14-3.072.079-3.072 1.353 0 .777.655 1.3 1.52 1.3.89 0 1.326-.41 1.605-.881.044.567.375.881.82.881zm-3.107-1.335c0-.707 1.126-.847 2.234-.698-.07.532-.558 1.23-1.3 1.3-.628.061-.934-.244-.934-.602zm5.871 1.335c.585 0 1.126-.296 1.405-.768v.698h.838v-6.283h-.838v2.635c-.279-.453-.82-.75-1.405-.75-1.082 0-1.946.951-1.946 2.234s.864 2.234 1.946 2.234zm.149-.768c-.75 0-1.257-.672-1.257-1.466 0-.794.506-1.466 1.257-1.466.69 0 1.256.672 1.256 1.466 0 .794-.567 1.466-1.256 1.466zm7.78.768c1.282 0 2.164-1.003 2.164-2.234 0-1.23-.882-2.234-2.165-2.234-1.37 0-2.164 1.004-2.164 2.234s.855 2.234 2.164 2.234zm0-.768c-.769 0-1.327-.654-1.327-1.466 0-.812.558-1.466 1.326-1.466s1.327.655 1.327 1.466c0 .812-.559 1.466-1.327 1.466zm3.715.698v-2.216c0-.952.698-1.414 1.274-1.414.515 0 .96.28.96 1.187v2.444h.838v-2.514c0-1.309-.576-1.885-1.606-1.885-.82 0-1.309.55-1.466.785v-.715h-.838v4.329h.838zm8.635.07c.183 0 .419-.026.611-.07v-.767c-.393.078-1.257.157-1.257-.594v-2.2h1.257v-.767h-1.257v-1.257h-.698c0 1.004-.184 1.327-.978 1.466v.559h.838v2.094c0 1.31.733 1.536 1.484 1.536zm2.371-.07v-2.216c0-.952.698-1.414 1.274-1.414.515 0 .96.28.96 1.187v2.444h.838v-2.514c0-1.309-.576-1.885-1.606-1.885-.82 0-1.309.55-1.466.785v-2.67h-.838v6.284h.838zm5.958.07c1.187 0 1.737-.776 1.973-1.361l-.794-.21c-.192.437-.576.803-1.161.803-.803 0-1.301-.532-1.362-1.222h3.334c.018-.104.026-.183.026-.305-.008-1.536-1.038-2.173-2.033-2.173-1.283 0-2.156.934-2.156 2.234 0 1.23.803 2.234 2.173 2.234zm1.161-2.688h-2.461c.131-.567.497-1.047 1.327-1.047.645 0 1.082.445 1.134 1.047zM54.543 31.544l.55-1.613h3.592l.55 1.613h2.15l-3.225-8.601h-2.542l-3.225 8.601h2.15zm3.58-3.274h-2.468l1.234-3.617 1.234 3.617zm5.668 6.011v-3.592c.33.635 1.063 1.05 1.943 1.05 1.588 0 2.749-1.49 2.749-3.323 0-1.832-1.161-3.323-2.75-3.323-.88 0-1.612.513-1.942 1.148v-.953h-1.955v8.993h1.955zm1.368-4.3c-.757 0-1.368-.71-1.368-1.565s.61-1.564 1.368-1.564c.758 0 1.369.709 1.369 1.564 0 .856-.611 1.564-1.369 1.564zm6.022 4.3v-3.592c.33.635 1.063 1.05 1.943 1.05 1.589 0 2.75-1.49 2.75-3.323 0-1.832-1.161-3.323-2.75-3.323-.88 0-1.613.513-1.943 1.148v-.953h-1.954v8.993h1.954zm1.369-4.3c-.758 0-1.369-.71-1.369-1.565s.611-1.564 1.369-1.564c.757 0 1.368.709 1.368 1.564 0 .856-.61 1.564-1.368 1.564zm10.676 1.759c2.297 0 3.519-1.295 3.519-2.81 0-1.955-1.405-2.554-3.421-2.847-1.124-.171-1.283-.513-1.283-.843 0-.367.317-.831 1.185-.831.965 0 1.27.806 1.27 1.368l1.931-.39c-.061-1.357-1.087-2.64-3.177-2.64-2.04 0-3.25 1.124-3.25 2.566 0 1.515.782 2.358 3.226 2.749 1.087.183 1.466.476 1.466.99 0 .476-.428 1.026-1.466 1.026-1.198 0-1.54-1.002-1.54-1.76l-1.979.391c0 1.589 1.173 3.03 3.519 3.03zm7.317 0c.281 0 .892-.086 1.149-.196v-1.662c-.55.123-1.564.294-1.564-.635V26.95h1.564v-1.662h-1.564v-1.954h-1.564c0 1.258-.342 2.138-1.564 2.248v1.368h1.173v2.248c0 2.236 1.124 2.542 2.37 2.542zm4.825 0c1.967 0 3.323-1.491 3.323-3.324 0-1.832-1.368-3.323-3.323-3.323-2.09 0-3.323 1.49-3.323 3.323s1.27 3.324 3.323 3.324zm0-1.76c-.806 0-1.368-.708-1.368-1.564 0-.855.562-1.564 1.368-1.564s1.368.709 1.368 1.564c0 .856-.562 1.564-1.368 1.564zm5.924 1.564v-2.517c0-1.76 1.381-2.321 2.664-1.747l.269-1.992c-1.136-.232-2.493.233-2.933 1.283v-1.283h-1.954v6.256h1.954zm6.194.196c1.771 0 2.675-1.014 3.03-2.065l-1.857-.355c-.159.343-.452.856-1.198.856-.745 0-1.258-.526-1.38-1.271h4.471c.025-.183.037-.5.037-.684-.012-2.15-1.552-3.128-3.14-3.128-2.101 0-3.311 1.393-3.311 3.323 0 1.833 1.161 3.324 3.348 3.324zm1.16-4.008h-2.529c.147-.635.513-1.124 1.356-1.124.648 0 1.1.44 1.173 1.124z" fill="#6D0EC1"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M35.067 22.55c.029 3.155 2.732 4.206 2.762 4.219-.023.074-.432 1.497-1.425 2.966-.857 1.27-1.747 2.536-3.15 2.562-1.378.026-1.82-.828-3.396-.828-1.575 0-2.067.802-3.372.854-1.353.052-2.384-1.374-3.249-2.64-1.767-2.588-3.118-7.315-1.304-10.506.9-1.584 2.51-2.587 4.258-2.613 1.33-.026 2.584.906 3.396.906.812 0 2.337-1.12 3.94-.956.67.028 2.554.274 3.764 2.068-.098.061-2.248 1.33-2.224 3.968zm-2.59-7.749c.719-.881 1.202-2.108 1.07-3.33-1.035.043-2.288.7-3.031 1.581-.666.78-1.25 2.029-1.092 3.226 1.155.09 2.334-.595 3.053-1.477z" fill="#6D0EC1"/>
            </svg>
          </a>
          <a href="https://play.google.com/store/apps/details?id=app.hallow.android" target="_blank" rel="noopener" aria-label="Get it on Google Play">
            <svg xmlns="http://www.w3.org/2000/svg" width="130" height="38" viewBox="0 0 153 44" fill="none">
              <path d="M131.019 1H21.928C10.36 1 .982 10.378.982 21.945c0 11.568 9.378 20.946 20.946 20.946h109.091c11.568 0 20.945-9.378 20.945-20.945C151.964 10.377 142.587 1 131.019 1z" stroke="#6D0EC1" stroke-width="1.745"/>
              <path d="M55.702 17.652a2.32 2.32 0 002.077-1.222l.07 1.152h.698V14.37h-2.653v.768h1.737c-.105.75-.69 1.746-1.842 1.746-1.317 0-2.06-1.056-2.06-2.374s.83-2.374 2.095-2.374c1.022 0 1.589.707 1.772 1.501l.882-.262c-.184-1.056-1.118-2.007-2.654-2.007-1.893 0-3.002 1.405-3.002 3.142 0 1.737 1.1 3.142 2.88 3.142zm5.801 0c1.187 0 1.737-.777 1.973-1.362l-.794-.21c-.192.437-.576.804-1.161.804-.803 0-1.3-.533-1.362-1.222h3.334c.018-.105.026-.183.026-.306-.008-1.536-1.038-2.173-2.033-2.173-1.283 0-2.156.934-2.156 2.235 0 1.23.803 2.234 2.173 2.234zm1.161-2.688h-2.461c.131-.568.497-1.048 1.327-1.048.645 0 1.082.446 1.134 1.048zm3.332 2.688c.183 0 .418-.026.61-.07v-.768c-.392.078-1.256.157-1.256-.593v-2.2h1.256v-.768H65.35v-1.257h-.698c0 1.004-.184 1.327-.978 1.467v.558h.838v2.095c0 1.309.733 1.536 1.484 1.536zm4.69-4.888a.541.541 0 00.558-.558.541.541 0 00-.558-.559.541.541 0 00-.559.559c0 .314.227.559.559.559zm.419 4.818v-4.329a1.056 1.056 0 01-.838 0v4.329h.838zm2.895.07c.183 0 .418-.026.61-.07v-.768c-.392.078-1.256.157-1.256-.593v-2.2h1.257v-.768h-1.257v-1.257h-.698c0 1.004-.184 1.327-.978 1.467v.558h.838v2.095c0 1.309.733 1.536 1.484 1.536zm6.156 0c1.283 0 2.164-1.004 2.164-2.234s-.881-2.235-2.164-2.235c-1.37 0-2.164 1.004-2.164 2.235 0 1.23.855 2.234 2.164 2.234zm0-.768c-.768 0-1.327-.655-1.327-1.466 0-.812.56-1.467 1.327-1.467.768 0 1.327.655 1.327 1.467 0 .811-.559 1.466-1.327 1.466zm3.715.698v-2.217c0-.951.699-1.414 1.275-1.414.514 0 .96.28.96 1.187v2.444h.837v-2.514c0-1.309-.576-1.885-1.605-1.885-.82 0-1.31.55-1.467.786v-.716h-.837v4.329h.837zm-26.988 14.16c1.515 0 2.346-.905 2.627-1.32l.147 1.124h1.515v-4.692h-4.008v1.662h1.955c-.073.55-.782 1.466-2.053 1.466-1.466 0-2.248-1.222-2.248-2.737 0-1.515.88-2.737 2.383-2.737 1.246 0 1.71.941 1.881 1.564l1.992-.415c-.244-1.478-1.527-2.908-3.885-2.908-2.81 0-4.423 2.016-4.423 4.496 0 2.48 1.466 4.497 4.117 4.497zm8.356 0c1.967 0 3.323-1.491 3.323-3.324 0-1.832-1.368-3.323-3.323-3.323-2.09 0-3.323 1.49-3.323 3.323s1.27 3.324 3.323 3.324zm0-1.76c-.806 0-1.368-.709-1.368-1.564 0-.855.562-1.564 1.368-1.564s1.368.709 1.368 1.564c0 .855-.562 1.564-1.368 1.564zm7.146 1.76c1.967 0 3.324-1.491 3.324-3.324 0-1.832-1.369-3.323-3.324-3.323-2.089 0-3.323 1.49-3.323 3.323s1.27 3.324 3.323 3.324zm0-1.76c-.806 0-1.368-.709-1.368-1.564 0-.855.562-1.564 1.368-1.564.807 0 1.369.709 1.369 1.564 0 .855-.562 1.564-1.369 1.564zm7.122 4.496c1.918 0 3.592-.904 3.592-2.419 0-1.71-1.466-2.04-3.445-2.003-1.699.024-1.82-.367-1.662-.721.391.134.868.207 1.393.207 1.808 0 2.932-.916 2.932-2.187 0-.452-.134-.88-.403-1.234.269-.17.587-.232.99-.232v-1.38c-.587.024-1.417.378-1.894.904-.44-.196-.978-.318-1.625-.318-1.857 0-2.932 1.026-2.932 2.26 0 .501.158.941.476 1.295-.819.526-.696 1.625-.037 2.114-.403.342-.83.843-.83 1.552 0 .977.818 2.162 3.445 2.162zm-.122-6.377c-.61 0-.978-.355-.978-.782 0-.404.367-.758.978-.758.599 0 .977.354.977.758 0 .427-.378.782-.977.782zm.049 4.814c-1.197 0-1.71-.44-1.71-.856 0-.256.183-.562.33-.635.366.11.977.195 1.697.232.721.037 1.393.037 1.393.464 0 .343-.586.795-1.71.795zm6.266-1.369V22.75h-1.954v8.797H85.7zm3.994.196c1.772 0 2.676-1.015 3.03-2.065l-1.857-.355c-.159.343-.452.856-1.197.856-.745 0-1.258-.526-1.38-1.271h4.471a6.27 6.27 0 00.037-.684c-.012-2.15-1.552-3.128-3.14-3.128-2.102 0-3.311 1.393-3.311 3.323 0 1.833 1.16 3.324 3.347 3.324zm1.161-4.008h-2.529c.147-.635.513-1.124 1.356-1.124.648 0 1.1.44 1.173 1.124zm8.22 3.812v-2.932h1.833c2.028 0 3.152-1.369 3.152-2.884s-1.026-2.785-3.348-2.785h-3.69v8.601h2.053zm1.528-4.594h-1.528v-2.248h1.528c.843 0 1.405.354 1.405 1.124 0 .684-.562 1.124-1.405 1.124zm6.254 4.594V22.75h-1.955v8.797h1.955zm6.364.196a2.29 2.29 0 001.027-.22v-1.369c-.196.074-.587-.024-.587-.61v-1.565c0-2.199-1.271-2.883-2.859-2.883-1.662 0-2.725.843-3.006 1.955l1.857.39c.135-.451.428-.83 1.1-.83.709 0 .953.44.953 1.149-2.101-.135-4.105.195-4.105 1.967 0 1.087.757 2.016 2.224 2.016.916 0 1.612-.416 2.089-1.125.134.685.537 1.125 1.307 1.125zm-3.665-2.09c0-.757 1.136-.928 2.15-.794-.085.684-.635 1.38-1.307 1.442-.428.037-.843-.11-.843-.648zm5.851 4.826c1.539 0 2.077-1.21 2.932-3.176l2.615-6.012h-2.15l-1.369 3.52-1.368-3.52h-2.151l2.432 5.914c-.513 1.246-.733 1.71-2.041 1.49l.269 1.711c.159.037.501.073.831.073z" fill="#6D0EC1"/>
              <path d="M22.247 11.735c-.24.24-.32.639-.32 1.118V30.49c0 .48.16.878.4 1.118l.08.08 9.896-9.897v-.16l-10.056-9.897z" fill="url(#gp_a)"/>
              <path d="M35.575 25.143l-3.272-3.272v-.24l3.272-3.272.08.08 3.91 2.235c1.118.638 1.118 1.676 0 2.314l-3.99 2.155z" fill="url(#gp_b)"/>
              <path d="M35.575 18.36l-11.653-6.625c-.718-.399-1.277-.32-1.676.08l9.977 9.897 3.352-3.353z" fill="url(#gp_c)"/>
              <path d="M35.575 25.064l-3.352-3.352-9.977 9.977c.4.398.958.398 1.676.08l11.653-6.705z" fill="url(#gp_d)"/>
              <defs>
                <linearGradient id="gp_a" x1="28.259" y1="12.701" x2="19.751" y2="21.209" gradientUnits="userSpaceOnUse"><stop stop-color="#00A0FF"/><stop offset="1" stop-color="#00E3FF"/></linearGradient>
                <linearGradient id="gp_b" x1="41.029" y1="21.712" x2="21.717" y2="21.712" gradientUnits="userSpaceOnUse"><stop stop-color="#FFE000"/><stop offset="1" stop-color="#FF9C00"/></linearGradient>
                <linearGradient id="gp_c" x1="19.77" y1="10.276" x2="26.218" y2="16.725" gradientUnits="userSpaceOnUse"><stop stop-color="#32A071"/><stop offset="1" stop-color="#00F076"/></linearGradient>
                <linearGradient id="gp_d" x1="33.761" y1="24.883" x2="19.269" y2="39.374" gradientUnits="userSpaceOnUse"><stop stop-color="#FF3A44"/><stop offset="1" stop-color="#C31162"/></linearGradient>
              </defs>
            </svg>
          </a>
        </div>
      </div>

      <!-- Right: Partner Hub links -->
      <div class="flex flex-wrap gap-x-12 gap-y-6 shrink-0">
        <div>
          <p class="text-[11px] font-bold uppercase tracking-[0.15em] text-gray-300 mb-3">Partner Hub</p>
          <div class="flex flex-col gap-2">
            <a href="/courses" class="text-[13px] text-gray-500 hover:text-hallow-purple transition-colors">Courses</a>
            <a href="/webinars" class="text-[13px] text-gray-500 hover:text-hallow-purple transition-colors">Webinars</a>
            <a href="/resources" class="text-[13px] text-gray-500 hover:text-hallow-purple transition-colors">Resources</a>
          </div>
        </div>
        <div>
          <p class="text-[11px] font-bold uppercase tracking-[0.15em] text-gray-300 mb-3">Support</p>
          <div class="flex flex-col gap-2">
            <a href="mailto:parishes@hallow.app" class="text-[13px] text-gray-500 hover:text-hallow-purple transition-colors">Partner Support</a>
            <a href="mailto:parishionersupport@hallow.app" class="text-[13px] text-gray-500 hover:text-hallow-purple transition-colors">Parishioner Support</a>
            <a href="https://help.hallow.com" target="_blank" rel="noopener" class="text-[13px] text-gray-500 hover:text-hallow-purple transition-colors">Help Center</a>
            <a href="https://hallow.com/privacy-policy/" target="_blank" rel="noopener" class="text-[13px] text-gray-500 hover:text-hallow-purple transition-colors">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>

    <!-- ── Bottom bar ──────────────────────────────────────────── -->
    <div class="py-5 border-t border-gray-100 flex flex-col sm:flex-row items-center justify-between gap-3">
      <p class="text-[12px] text-gray-300">&copy; {year} Hallow, Inc. All rights reserved.</p>
      <p class="text-[12px] text-gray-300 font-serif italic">Pray. Grow. Lead.</p>
    </div>

  </div>
</footer>
